.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
}

.loader__overflow {
  width: 100%;
  height: 100%;
  background: rgba(244, 148, 51, .8);
}

.loader__text {
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  text-align: center;
  color: #FFF;
  font-weight: 800;
}